<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.chw.referral">

    <application>
        <activity android:name="org.smartregister.chw.referral.activity.BaseIssueReferralActivity" />
        <activity android:name="org.smartregister.chw.referral.activity.ReferralDetailsViewActivity" android:theme="@style/ChwReferralTheme.NoActionBar" />
    </application>
</manifest>
